<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/css/style.css" />
    <title>Kalm Life</title>
</head>
<body class="relative min-h-screen">
    <footer class=" fixed footer items-center p-4 bg-primary text-accent h-16 inset-x-0 bottom-0 mt-10 largerscreenfooter">
        <div class="items-center grid-flow-col ">
          <p class="KLlogo" >Kalm Life </p>
          <p>© 2023</p>
        </div> 
      </footer>
</body>
</html>